progressbar {
    min-height: 100px;
    margin-top: 10px;
}

progressbar > trough {
    min-height: 80px;
    background-color: white;
}

progressbar > trough > progress {
    min-height: 80px;
    background-image: linear-gradient(white 4%, rgb(160, 226, 89) 25%, rgb(128, 214, 66) 50%, rgb(160, 226, 89) 75%, white);
    border-radius: 4px;
    border-color: rgb(219, 214, 212);
}

progressbar > text {
    font-style: italic;
    font-size: xx-large;
    color: wheat;
}

.my_label {
    font-style: italic;
    font-size: xx-large;
    color: gray;
}
